body {
    background-color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    background-color: blue;
    color: purple;
    padding: 10px;
    text-align: center;
}

.explore {
    color: purple;
}

.yellow-bar {
    background-color: yellow;
    padding: 10px;
}

.yellow-bar p {
    color: red;
}

.green-bar {
    background-color: lightgreen;
    padding: 10px;
}

.green-bar p {
    color: black;
}
