* {
    color: gray;
    background-color: lightgray;
}

h1 {
    color: darkblue;
    background-color: lightcyan;
}

#main-title {
    color: darkred;
    background-color: mistyrose;
}

/*  Class Selector */
.nav-link {
    color: forestgreen;
    background-color: lightyellow;
}

.color-box p {
    color: saddlebrown;
    background-color: lemonchiffon;
}

.color-box > p {
    color: goldenrod;
    background-color: ivory;
}

.intro-paragraph + p {
    color: teal;
    background-color: lightcyan;
}
